.page-tiki-carts {
	.main-content {
		padding: 0;
	}
	.main-footer {
		margin-top: 0;
	}
	.banner {
		background: url('tikicarts_bg.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}